html, body {
  background-color: #F5EEDC !important;
}

.cross:hover {
  background-color: #6C787A !important;
}

.cross {
  float: right;
}

.loginForm {
  background-color: #CED6D6 !important;
  padding: 20px;
  border-radius: 10px;
}

.marge {
  height: 60px;
}

.title {
  font-family: URW Chancery L;
  padding-bottom: 5px;
}

.cartesProjets {
  background-color: #B4AEFF !important;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #625f58;
  color: white;
}

.pages {
  float: left;
}

.pages a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navRight {
  float: right;
}

#navRightLink {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pages a:hover {
  background-color: #4C3C3C;
}

#titlenav {
  float: left;
}

#titlenav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-variant: small-caps;
}


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CED6D6;
  color: black;
  text-align: center;
}

#footerText {
  margin-top: 10px;
}

.box {
  background-color: grey;
}

